@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 40% 98%;
    --foreground: 222 47% 11%;

    --card: 0 0% 100%;
    --card-foreground: 222 47% 11%;

    --popover: 0 0% 100%;
    --popover-foreground: 222 47% 11%;

    --primary: 210 79% 46%;
    --primary-foreground: 210 40% 98%;

    --secondary: 160 79% 38%;
    --secondary-foreground: 210 40% 98%;

    --muted: 210 40% 96%;
    --muted-foreground: 215 16% 47%;

    --accent: 210 40% 96%;
    --accent-foreground: 222 47% 11%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 210 40% 98%;

    --border: 214 32% 91%;
    --input: 214 32% 91%;
    --ring: 222 84% 48%;

    --radius: 0.5rem;

    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5% 26%;
    --sidebar-primary: 240 6% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 5% 96%;
    --sidebar-accent-foreground: 240 6% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217 91% 60%;

    /* Chart semantic tokens */
    --warning: 28 95% 55%;
    --warning-foreground: 210 40% 98%;
  }

  .dark {
    --background: 222 47% 11%;
    --foreground: 210 40% 98%;

    --card: 0 0% 100%;
    --card-foreground: 210 40% 98%;

    --popover: 0 0% 100%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 79% 46%;
    --primary-foreground: 210 40% 98%;

    --secondary: 160 79% 38%;
    --secondary-foreground: 210 40% 98%;

    --muted: 210 40% 96%;
    --muted-foreground: 215 16% 47%;

    --accent: 210 40% 96%;
    --accent-foreground: 222 47% 11%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 210 40% 98%;

    --border: 214 32% 91%;
    --input: 214 32% 91%;
    --ring: 222 84% 48%;

    --radius: 0.5rem;

    --sidebar-background: 0 0% 10%;
    --sidebar-foreground: 240 5% 98%;
    --sidebar-primary: 240 6% 98%;
    --sidebar-primary-foreground: 0 0% 10%;
    --sidebar-accent: 240 5% 10%;
    --sidebar-accent-foreground: 240 6% 98%;
    --sidebar-border: 220 13% 10%;
    --sidebar-ring: 217 91% 40%;

    /* Chart semantic tokens */
    --warning: 28 95% 55%;
    --warning-foreground: 210 40% 98%;
  }

  * {
    @apply border-border;
  }

  html {
    scroll-behavior: smooth;
  }
}

@layer components {
  /* TODO */
}
